<!--<div class="sns">
    <ul class="sns">
        <% for (item in theme.Intro.SNS){%>
            <li>
            <a href="<%- theme.Intro.SNS[item] %>" target="_blank"><%= item %></a>
            </li>
        <%}%>
    </ul>
</div>-->

<div class="intro">
<%- page.content %>
</div>