<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 加载head部分 -->
    <%- partial('_partial/head') %>
</head>
<body>
    <!-- 加载导航条 -->
    <%- partial('_partial/header') %>
    <main class="main">
        <%- body %>
    </main>
</body>
</html>