body{
    background-color: #F2F2F2;
    font-size:1.25rem;
    font-family: monospace,sans-serif;
    line-height: 1.5;
    padding:2% 20%;
}
.code,.gutter{
    background-color: #333
    color: #f9f9f9
    padding: 0 10px
    }
@import "_partial/header";
@import "_partial/post";