regular-color = #333
red-color = #c30
light-color = #444
@font-face {
      font-family: "UnifrakturMaguntia";
      src: url("../font/UnifrakturMaguntia.ttf");
}
@font-face {
      font-family: "Coustard";
      src: url("../font/Coustard.ttf");
}
html{
      height: 100%
}
img{
      max-width: 100%
}
::selection {
    background:regular-color; 
    color:white
}

::-moz-selection {
    background:regular-color; 
    color:white

}

::-webkit-selection {
    background:regular-color; 
    color:white
}
body{
      margin:0
      height: 100%
      font-size:1.25rem;
      font-family: 'Noto Serif', 'Times New Roman', serif !important
      line-height: 1.5;
      padding:0 30%;
      display:flex;
      flex-flow: column;
      align-items: space-between;
}
main{
      flex:1
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/footer";
@import "_partial/comment";
@import "_partial/about";