regular-color = #333
blue-color =  #2b3f52
light-color = #444
light-blue-color = #516272
back-color = #f8f9f9
@font-face {
      font-family: "Coustard";
      src: url("/font/Coustard.ttf");
}
@font-face {
      font-family: "UnifrakturMaguntia";
      src: url("/font/UnifrakturMaguntia.ttf");
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(/font/Wreg0Be4tcFGM2t6VWytvKpkxQ1nyBMhaPnv_ZMXNdQ.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

html{
      height: 100%
}
iframe{
      max-width: 100%
      display: block
      margin: 0 auto
}
body{
      margin:0
      height: 100%
      font-size:1.25rem;
      font-family: 'Noto Serif', 'Times New Roman', serif !important
      line-height: 1.5;
      padding:0 30%;
      display:flex;
      flex-flow: column;
      align-items: space-between;
}
.not-found{
      display:none
      text-align: center
      color: light-color      
}
#top{
      position: fixed 
      bottom: 1em
      right: 2em
      display: block
      text-decoration: none
      color: light-color
}

main,.search-items{
      flex:1
}

@media screen and (max-width:1300px){
      body{
            padding: 0 10%
      }
      .post .title{
            font-size: 1em!important 
      }
      #comments{
            margin: 0 -5%;   
      }
      .gitment-editor-tab:not(.gitment-selected){
            display:none!important      
      }
      .post .toc .toc-list{
            padding-left: 2em!important  
      }
      #top{
            display: none
      }
      .tip ul{
            width: 80%!important      
      }
      .tip li{
            padding: .2em!important      
      }
 
}


@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/footer";
@import "_partial/comment";
@import "_partial/about";
@import "_partial/category";
@import "_partial/tag";
@import "_partial/copyright";
@import "_partial/meta";
@import "_partial/share";
@import "_partial/tip";
@import "_partial/toc";