<div id="comments"></div>

<script>
    var gitment = new Gitment({
    // 根据文章标题设置唯一评论id
    id: window.location.herf,
    owner: "<%= theme.Comment.Owner %>",
    repo: "<%= theme.Comment.Repo %>",
    oauth: {
      client_id:"<%= theme.Comment.Id %>",
      client_secret: "<%= theme.Comment.Secret %>",
    }
  })
  gitment.render('comments')
</script>