<div id="comments"></div>
<script>
  var gitment = new Gitment({
    // 根据文章标题设置唯一评论id
    id: window.location.herf,
    owner: 'vevlins',
    repo: 'Vevlins.github.io',
    oauth: {
      client_id: '9199cb7b2557d42a8f45',
      client_secret: '33a73359c982e32c57b49eae93bf0245d3f1266f',
    },
  })
  gitment.render('comments')
</script>