<header class="header">
    <div class="title">
        <a href="<%- url_for() %>" class="logo">
            <%= config.title %>
        </a>
    </div>
    <nav class="navbar">
        <ul class="menu">
            <% for (item in theme.Menu) {%>
                <li class="menu-item">
                    <a href="<%- url_for(theme.Menu[item]) %>" class="menu-item-link">
                        <%= item %>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>
</header>