<div class="tip">
<button class="tip-btn">
    打赏
</button>
<div class="tip-img">
<ul>
<li>
    <img src="<%= url_for(theme.Tip.Alipay) %>"></img>
</li>
<li>
    <img src="<%= url_for(theme.Tip.Wechat) %>"></img>
</li>
</ul>
</div>
</div>