<% if(theme.Tip){ %>
<div class="tip">
<button class="tip-btn">
    <%= __('Tip')%>
</button>
<div class="tip-img">
<ul>
    <% if(theme.Tip.Alipay){%>
<li>
    <img src="<%= url_for(theme.Tip.Alipay) %>"></img>
</li>
<%}%>
 <% if(theme.Tip.Wechat){%>
<li>
    <img src="<%= url_for(theme.Tip.Wechat) %>"></img>
</li>
<%}%>
</ul>
</div>
</div>
<%}%>