.intro{
    font-size: .8em
    
}
.base{
    display: flex
    justify-content: center
    flex-direction: column
    .avastar{
        align-self: center
        width: 6em
        height: 6em
        border-radius: 100%
    }
    .name{
        align-self: center
        margin-top: .5em
    }
    .fields{
        align-self: center
    }
}
.sns{
    display:flex
    justify-content: center
    .sns-items{
        padding: 0
        .sns-list-item{
            margin-left: .3em
            align-items: center
            list-style-type: none
            display:inline-block
            .fa{
                font-size: 1.2em
                text-decoration: none
                color: light-color
            }
        }
    }    
}