.archive{
  & > * {
    margin: 0
    padding: 0
    color: regular-color
    font-size: .8em  
  } 
  .post-archive{
     .post-item{
       padding: .2em 0
       list-style-type: square
       .date{
         margin-right: 1em
        }
        .title{
          float: right
        color: regular-color
        text-decoration: none
        border-bottom: 1px dotted #ccc
        }
     }
  }
}