#comments{
    border-top: 1px dotted #ccc
    margin-top: 2em
    .gitment-header-issue-link,.gitment-editor-footer-tip, .gitment-footer-container{
    display: none!important
}
.gitment-editor-main{
   font-family: 'Noto Serif', 'Times New Roman', serif !important
}
.gitment-editor-preview{
       font-family: 'Noto Serif', 'Times New Roman', serif !important
}
.gitment-editor-logout-link,.gitment-editor-login-link{
    padding: .2em .5em
    color: blue-color!important
    text-decoration: none!important
    &:hover{
        color: white!important
        background-color:blue-color!important
        opacity: .9
    }
}
.gitment-editor-submit{
    background-color: blue-color!important   
    font-weight: 300; 
}
    .write{
    margin-left: 0 !important
    }
}
