.copyright{
  overflow:hidden
  flex-direction:column
  display:flex  
  padding: 1em
  font-size: .8em
  border-left: 8px solid  blue-color
  margin: .5em 0 !important
  margin-top:3em!important
  background-color: #f8f9f9
  *{
    overflow: hidden
    word-break: break-all
    white-space:normal;
  }
  a:link,a:visited{
    color: #aeb6bf!important
    text-decoration: none
  }
}