.footer{
    line-height: 5
    display:flex
    justify-content: center
    align-items: center;
    color: light-color
    margin-top: 5em
    .footer-copyright{
        font-size: .6em
        color: light-color
        .link{
            color:blue-color
            text-decoration: none    
        }
    }    

}