.post{
  margin-bottom: 2em
  & > * {
    margin: 0
    padding: 0
    display: flex
    justify-content: center
  }
  ::selection {
    background:regular-color;
    color:white
  }
  ::-moz-selection {
      background:regular-color; 
      color:white

  }
  ::-webkit-selection {
      background:regular-color; 
      color:white
  }
  .title{
    &:hover{
      color: red-color
    }
    text-align: center;
    font-size: 1.2em  
    text-decoration: none
    color: light-color
    font-weight:600
    margin-bottom: .3em
  }

  .content{
    display:block 
    color: light-color
    font-size:.8em 
    margin: 2em 0
    a:link , a:active , a:visited{
      color: light-color
      padding: 0 .3em
    }
    a:hover{
      background-color: red-color
      opacity: .8
      color:white
    }
    pre *::selection {
    background:white!important
    color:black!important
}
    pre *::-moz-selection {
        background:white!important
        color:black!important
    }
    pre *::-webkit-selection {
        background:white!important
        color:black!important
    }
    iframe{
          max-width: 100%
          display: flex
          align-self: center
    }
    p{
      text-indent: 2em
      word-break: break-all
       word-wrap: break-word
    }
    svg{
      max-width: 100%;
    }
    //markdown语法设置
    *:not(pre) code{
  background-color: #eaeaea
  padding: .1em
  font-weight: 300
  font-size: .95em
  margin: 0 .2em
  font-family: 'Noto Serif', 'Times New Roman', serif !important
  border: 1px solid rgba(51, 51, 51, 0.1)
  border-radius: .1em
    }
    strong,em{
      font-weight: 900
      font-style:normal
      color: black
      padding: 0 .3em
    }
    blockquote{
      padding: 1em;
      border-left: 8px solid #aeb6bf 
      color: #6b7a8c
      margin: .5em 0 !important
      background-color: #fdfefe  
}
    hr{
      border:none
      border-bottom: 1px dotted #ccc
    }
    table{
      padding: 0;
      border-collapse: collapse;
    }
    tr:nth-child(even){
      background-color:#EEEEEE
    }
    th,td{
      border: 1px solid #cccccc
      margin: 0
      padding: .3em .5em
    }
    img{
      display:block
      margin: 1em auto
      max-width: 100%
    }
  }
    .continue a{
          &:hover{
        color: red-color
      }
      border-bottom: 1px dotted #ccc
      text-decoration: none
      font-size:.7em
      color: light-color
    }
  }


.more{
  font-size: .7em
    display: flex;
  justify-content: space-between;
      overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis
    width: 100%;
  & a{
    &:hover{
      color: red-color  
    }
    width: 100%
    display: flex
    text-decoration: none
    color: light-color
    border-bottom: 1px dotted #ccc
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis
  }
  .prev , .next {
    width: 40%
    }
  .prev a {
    float: left
    display: block
    } 
    .next a {
    float: right
    display: block
    }
}