.tag{
    .tag-list{
    padding: 0
    margin: 0
    font-size: .8em
    .tag-list-item{
        list-style-type: none
        display: flex
        justify-content: space-between
        .tag-list-link{
            border-bottom: 1px dotted #ccc
            text-decoration: none
            &:link,&:active,&:visited{
                color: light-color    
            }    
        }
    }
}
}