    .toc{
      justify-content: start 
      font-size: .9em
      color:light-color
      .toc-list{
        font-size: .9em
        margin-top: 2em
        padding-left: 2em
        border-left: .3em solid blue-color
        .toc-list-item {
          .toc-list-child{
            padding-left: 2em  
          }
          .toc-list-link{
            color: light-color
            text-decoration: none
            border-bottom: 1px dotted #ccc
            padding: 0 .3em
            &:hover{
              opacity: .8
            }
          }
        }
      }
    }